#header {
	background: url(../images/TechPicture.jpg)  fixed 50% / cover;
  	margin: 0 auto; 
  	width: 100%; 
 	padding: 2%;
}

.text {
	background-color: transparent;
	color: #81BEF7;
}

.navbar {
	margin-bottom: 0;
	font-size: 20px;
	margin: 0 auto;
	padding: 15px;
	width: 100%;
}

.dropdown-menu {
	font-size: 18px;
}

.pics {
	margin-top: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	width: 300px;
	height: 300px;
}

.lightmargin {
	margin-top: 11px;
	margin-left: 0;
}

.margin {
	margin-right: 0;
}

.box {
	border-radius: 5px;
	background: #fff;
	padding: 20px;
	box-shadow: 0 1px 5px rgba(0,0,0,.2);
}

.panel-default > .panel-heading {
	background-color: #81BEF7;
	padding-top: 2px;
	padding-bottom: 15px;
	border-radius: 4px 4px 0px 0px;
	border-bottom: 1px solid #469350;
}


.clausepad {
	margin-top: 2%;
}

p {
	font-size: 20px;
	text-align: justify;
}